body {
    background-image: linear-gradient(rgb(102, 102, 228), rgb(141, 229, 139));
    /* background-image: radial-gradient(red, yellow, blue); */
    background-attachment: fixed
}

#animals {
    text-align: center;
}

.animal-card{
    display: inline-block;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}

#buttons{
    display: flex;
    justify-content: center;
}