@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

body {
    background-image: linear-gradient(rgb(102, 102, 228), rgb(141, 229, 139));
    /* background-image: radial-gradient(red, yellow, blue); */
    /* background-attachment: fixed */
}

h1 {
    font-family: 'Nanum Brush Script', cursive;
    margin-top: 20px;
    text-align: center;
    font-size: 7em;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
  }

#animals {
    text-align: center;
}

#dragMe {
    cursor: url("./images/paw.cur"),
    auto;
}

.animal-card{
    display: inline-block;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}

#buttons{
    display: flex;
    justify-content: center;
}

.btn {
    width: 300px !important;
}